<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Hola Mundo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Saluda</display-name>
    <servlet-name>Saluda</servlet-name>
    <servlet-class>com.Saluda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Saluda</servlet-name>
    <url-pattern>/Saluda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SumaNumServlet</display-name>
    <servlet-name>SumaNumServlet</servlet-name>
    <servlet-class>com.SumaNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SumaNumServlet</servlet-name>
    <url-pattern>/SumaNumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AreaRectanguloServlet</display-name>
    <servlet-name>AreaRectanguloServlet</servlet-name>
    <servlet-class>com.AreaRectanguloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaRectanguloServlet</servlet-name>
    <url-pattern>/AreaRectanguloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TiempoViajeServlet</display-name>
    <servlet-name>TiempoViajeServlet</servlet-name>
    <servlet-class>com.TiempoViajeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiempoViajeServlet</servlet-name>
    <url-pattern>/TiempoViajeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MayorDeTresServlet</display-name>
    <servlet-name>MayorDeTresServlet</servlet-name>
    <servlet-class>com.MayorDeTresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MayorDeTresServlet</servlet-name>
    <url-pattern>/MayorDeTresServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiaSemanaServlet</display-name>
    <servlet-name>DiaSemanaServlet</servlet-name>
    <servlet-class>com.DiaSemanaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiaSemanaServlet</servlet-name>
    <url-pattern>/DiaSemanaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoriaEdadServlet</display-name>
    <servlet-name>CategoriaEdadServlet</servlet-name>
    <servlet-class>com.CategoriaEdadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriaEdadServlet</servlet-name>
    <url-pattern>/CategoriaEdadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TablaMultiplicarServlet</display-name>
    <servlet-name>TablaMultiplicarServlet</servlet-name>
    <servlet-class>com.TablaMultiplicarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TablaMultiplicarServlet</servlet-name>
    <url-pattern>/TablaMultiplicarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SumaAcumulativaServlet</display-name>
    <servlet-name>SumaAcumulativaServlet</servlet-name>
    <servlet-class>com.SumaAcumulativaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SumaAcumulativaServlet</servlet-name>
    <url-pattern>/SumaAcumulativaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaDivisoresServlet</display-name>
    <servlet-name>ListaDivisoresServlet</servlet-name>
    <servlet-class>com.ListaDivisoresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaDivisoresServlet</servlet-name>
    <url-pattern>/ListaDivisoresServlet</url-pattern>
  </servlet-mapping>
</web-app>